.jumbotron p{
    margin-bottom: 8px;
}

.container {
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 16px;
}

h2 {
    padding-top: 15px;
}

.main-img-box {
    text-align: center;
}

.main-img-box, img{
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.slideshow-img {
   width: 60%;
   margin: auto;
}

/* @media {
    .navbar li a{
        font-size:17px;
    }
<<<<<<< HEAD
} */
=======
}
>>>>>>> 456a9dd33e2904acafadf9ae47ddd6ea20d8e74a
