.jumbotron p{
    margin-bottom: 8px;
}

.container {
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 16px;
}

h2 {
    padding-top: 15px;
}

.main-img-box {
    text-align: center;
}

.main-img-box, img{
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.slideshow-img {
   width: 55%;
   margin: auto;
}

.slideshow-imgs {
    width: 40%;
    margin: auto;
 }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-indicators {
    filter: invert(1);
}

thead th {
    font-size: 1em;
    padding: 15px !important;
    height: 15px;
  }